:root {
    --text-primary: font-family: 'Roboto', sans-serif;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
}
#container {
    text-align: center;
    vertical-align: top;
}
.Team1 {
    float: left;
    margin-left: 1em;
}
.Team2 {
    float: right;
    margin-right: 1em;
}

.timer {
    text-align: center;
    padding: 40px;
}

#start-timer {
    background-color: green;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    margin-right: 10px;
    color: white;
    font-size: 18px;
}

#stop-timer {
    background-color: red;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    margin-left: 10px;
    color: white;
    font-size: 18px;
}
#flip-deck {
    font-size: 22px;
    background-color: blue;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    margin-top: 20px;
    color: white;
    width: 240px;
}

#break-time {
    border-style: solid;
    border-color: white;
    border-width: 5px;
    border-radius: 2px;
    margin-right: auto;
    margin-left: auto;
    width: 30%;
}

#game-time {
    width: 30%;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    border-radius: 2px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}

#time {
    margin-top: 10px;
    margin-bottom: 10px;
}
#match-time {
    margin-top: 10px;
    margin-bottom: 10px;
}
.timer {
    padding-top: 5px;
}

#add-score {
    font-weight: bold;
    font-size: 22px;
    margin-top: 5px;
    background-color: green;
    color: white;
    width: 120px;
    height: 40px;
}

#remove-score {
    font-weight: bold;
    font-size: 18;
    margin-top: 15px;
    background-color: red;
    color: white;
    width: 80px;
    height: 30px;
}

#break-control {
    width: 30%;
    border-style: solid;
    border-color: red;
    border-width: 5px;
    border-radius: 2px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}
.control-btn {
    background-color: black;
    margin-bottom: 15px;
    color: white;
}

.control-btn :active {
    background-color: red;
}